<template>
    <div class="sg-page page-{{dashCase name}}">{{ properCase name }}</div>
</template>

<script>
export default {
    name: '{{ properCase name }}',
    components: {},
    props: {},
    data() {
        return {}
    },
    computed: {},
    watch: {},
    created() {},
    mounted() {},
    methods: {},
}
</script>

<style lang="less" scoped></style>
