.sg-page {
    height: 100%;
}
.sg-flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    text-align: left;
}

.sg-flexbox.wrap {
    -webkit-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sg-flexbox.v {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.sg-flexbox.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.sg-flexbox.justify-between {
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.sg-flexbox.justify-around {
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.sg-flexbox.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.sg-flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
