.my-common-dialog .el-dialog {
    border-radius: 4px;
}
.my-common-dialog .el-dialog__body{ 
    padding: 20px 20px;
}
.my-common-dialog .el-dialog__header {
    padding: 10px 20px;
    background: #158dff;
    border-radius: 4px 4px 0 0;
}
.my-common-dialog .el-dialog__header .el-dialog__title {
    font-size: 18px;
    color: #ffffff;
}
.my-common-dialog .el-dialog__header .el-dialog__headerbtn {
    top: 12px;
    font-size: 20px;
}
.my-common-dialog .el-dialog__header .el-dialog__headerbtn .el-dialog__close {
    color: #fff;
}
