.sg-error {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sg-error__content {
    text-align: center;
    color: #b0bec5;
}
.sg-error__title {
    font-size: 62px;
}
.sg-error__meta {
    font-size: 16px;
}
.sg-error_action {
    margin-top: 20px;
}
