/**
 * 表单组件（外层统一加一个 html 选择器以提升优先级）
 */

/* 表单 */
.sg-data-form-container {
    padding-bottom: 30px;
}
.sg-data-form .el-date-editor.el-input,
.sg-data-form .el-date-editor.el-input__inner {
    width: 100%;
}
.sg-data-form .el-form-item__label {
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
}
.sg-data-form .el-form-item {
    display: flex;
}
.sg-data-form .el-form-item__content {
    flex: 1;
    /* display: flex; */
    margin-left: 0 !important;
}
.sg-data-form .el-row {
    flex-wrap: wrap;
}
.sg-data-form .el-form-item__label {
    white-space: nowrap;
}
.sg-data-form .el-select,
.sg-data-form .el-autocomplete,
.sg-data-form .el-cascader {
    width: 100%;
}
.sg-data-form .sg-form-row {
    margin-bottom: 0;
}
.sg-data-form .sg-form-field {
    width: 100%;
}
.sg-data-form-action {
    text-align: center;
}
.sg-data-form-field {
    width: 100%;
}
.sg-form--label-top .sg-form-item {
    display: block;
    width: 100%;
}
.sg-form--label-top .el-form-item__label {
    float: none;
}
.sg-data-form-header {
}
.sg-data-form-footer {
    text-align: center;
}
.sg-data-form .el-button {
    vertical-align: top;
}

.sg-range {
    display: flex;
}
.sg-range__input {
    flex: 1;
}
.sg-range__gap {
    width: 30px;
    text-align: center;
}
