.sg-img-code {
    position: relative;
    width: 120px;
    margin-left: 10px;
    color: #666;
    cursor: pointer;
}

.sg-img-code__content {
    position: relative;
    width: 120px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.sg-img-code__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sg-img-code__tip {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #666;
    text-align: center;
}

.sg-img-code .el-loading-spinner {
    margin-top: -12px;
}

.sg-img-code .el-loading-spinner .circular {
    width: 24px;
    height: 24px;
}
