<template>
    <div id="app" class="{{ name }}-container">
        {{name}}
    </div>
</template>
<script>
export default {
    name: 'App',
    data() {
        return {}
    },
}
</script>
<style lang="less">
.{{name}}-container {
}
</style>

    




